.finteza-analytics__logo {
  float: left;
  margin: 4px 15px 15px 0;
}

.finteza-analytics__help {
  margin-top: 1em;
}

.finteza-analytics__help ul {
  display: flex;
  list-style: none;
  padding: 8px 0 !important;
  margin-left: 0 !important;
  margin-bottom: 12px !important;
}
.finteza-analytics__help ul li {
  position: relative;
  list-style: none;
  padding: 0 8px;
  line-height: 1em;
}
.finteza-analytics__help ul li:first-child {
  padding-left: 0;
}
.finteza-analytics__help ul li:after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  border-right: 1px solid;
}
.finteza-analytics__help ul li:last-child:after {
  content: none;
}

.finteza-analytics-tracking-settings .button,
.finteza-analytics-registration .button {
  margin: 10px 0 10px 0;
}
